.graphql-sidebar {
  .doc-btn {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.4rem;
    transition: 0.4s;
    box-shadow: 0px 0px 2px 2px black;
    background-color: rgb(209, 201, 201);

    &:hover {
      background-color: rgb(197, 183, 183);
      transform: scale(1.1);
    }
  }
}
