.editor__mirror {
  padding: 25px 35px;
  position: absolute;
  left: 5%;
  top: 5%;
  box-shadow: inset 0px 0px 3px 3px black;
  background-color: rgb(176, 156, 156);
  width: 400px;
  height: 600px;
  white-space: pre;

  &-item {
    position: relative;
    height: 18px;
  }
  &-item-index {
    position: absolute;
    left: -10px;
    top: 0;
  }
}

.editor__mirror-word {
  color: green;
}

.editor__mirror-req {
  color: brown;
}

.editor__mirror-inline {
  display: inline-block;
}

.editor__mirror-main {
  color: pink;
}

.editor__mirror-bracket {
  color: blue;
}
